.img-fluid{
  width: 100% !important
}

.carousel-inner img {
  width: 100%;
  max-height: 370px;
}
.header{
  width: 100%;
  height: 402px;
  background-color: black;
}
.menu{
  background-color: white;
}
.img-border{
  border: 4px solid white;
}
.media.w-100 {
    position: relative;
    bottom: 84px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 0 !important;
    border-radius: 0 !important;
}
section.main_menu {
    position: relative;
    bottom: 98px;
}

@media only screen and (max-width: 330px) and (min-width: 290px) {
  .buttons{
    position: relative;
    right: 21%;
    bottom: 15rem !important;
  }
}


.bg-primary{
  background-color: #41a5fb !important;
}
.bg-secondary{
  background-color: #7f59c6 !important;
}
.bg-orange{
  background-color: #fe5e3c !important;
}


.buttons{
  position: relative;
  bottom:8rem;
  padding-right: 2%;
}
btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 20px !important;
}
